.min-h-screen {
    min-height: 100vh;
  }
  
  .bg-customBlue {
    background-color: #007bff; /* Replace with your desired color */
  }
  
  .bg-customBlue:hover {
    background-color: #0056b3; /* Replace with your desired hover color */
  }
  
  .text-customBlue {
    color: #007bff; /* Replace with your desired color */
  }
  
  .text-customBlue:hover {
    color: #0056b3; /* Replace with your desired hover color */
  }
  
  .border-1 {
    border-width: 1px;
  }
  
  .sticky {
    position: sticky;
    top: 0;
  }
  
  .text-right {
    text-align: right;
  }
  
  .cursor-pointer {
    cursor: pointer;
  }
  
 
  